
/* App and General */
html {
  font-size: 10px;
}
body {
  background-color: #717171;
}
.cv-container {
  margin: 0 auto;
}

.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.app > .fa-briefcase {
  color: white;
  font-size: 4rem;
  margin-top: 4rem;
}

.app > h1 {
  color: white;
  font-size: 2.5rem;
  margin: 2rem 0 1.5rem 0;
  font-weight: bold;
}

/* CV-Container */
.cv-container {
  max-width: 70em;
  display: grid;
  background-color: rgb(250,250,250);
  border: 3px solid rgb(150,150,150);
  border-style: outset;
  grid-template-rows: 1fr;
  grid-template-columns: 25rem 45rem;
  grid-template-areas:
    "left right";
  justify-items: stretch;
  align-items: top;
}

.cv-container .left-side {
  grid-area: left;
}

.cv-container .right-side {
  grid-area: right;
  display: flex;
  flex-direction: column;
  border-left: 1.5px solid rgb(150,150,150);
}

/* General Information */
.general-information {
  padding: 2rem 1rem;
}
.general-information {
  text-align: left;
}

.general-information .field > div {
  display: inline-block;
}

.general-information input {
  padding: 0;
  box-sizing: border-box;
  width: 80%;
  border: 0.5px solid rgb(50,50,50); 
  border-radius: 2px;
}

.general-information .field {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.general-information .field .editable-input {
  flex-grow: 1;
}

.general-information .name {
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.general-information .name > :last-child {
  margin-top: 0.5rem;
}


.general-information .name, .general-information .name input {
  font-size: 3rem;
  font-weight: bold;
}

.general-information .field, .general-information .field input {
  font-size: 1.1rem;

}

.general-information .field i {
  margin-right: 0.3rem;
  vertical-align: middle;
}

.general-information .field .spacing {
  margin-right: 1.15rem;
}

.general-information .editable-input span {
  padding: 0.1rem;
}

.general-information .editable-input input {
  padding: 0.1rem;
  box-shadow: 0.5px 0.5px 1px;
}