
/* App and General */
html {
  font-size: 10px;
}
body {
  background-color: #717171;
}
.cv-container {
  margin: 0 auto;
}

.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.app > .fa-briefcase {
  color: white;
  font-size: 4rem;
  margin-top: 4rem;
}

.app > h1 {
  color: white;
  font-size: 2.5rem;
  margin: 2rem 0 1.5rem 0;
  font-weight: bold;
}

/* CV-Container */
.cv-container {
  max-width: 70em;
  display: grid;
  background-color: rgb(250,250,250);
  border: 3px solid rgb(150,150,150);
  border-style: outset;
  grid-template-rows: 1fr;
  grid-template-columns: 25rem 40rem;
  grid-template-areas:
    "left right";
  justify-items: stretch;
  align-items: top;
}

.cv-container .left-side {
  grid-area: left;
}

.cv-container .right-side {
  grid-area: right;
  display: flex;
  flex-direction: column;
  border-left: 1.5px solid rgb(150,150,150);
}